fastapi==0.109.2
uvicorn==0.27.1
openai==1.61.0
python-dotenv==1.0.0
pypdf==5.2.0
faiss-cpu==1.10.0
tiktoken==0.8.0
python-multipart==0.0.9
langchain==0.3.17
langchain-community==0.3.16
langchain-core==0.3.33
langchain-openai==0.3.3
langchain-text-splitters==0.3.5
requests==2.31.0
pydantic-settings==2.7.1
